---
import { getCollection } from 'astro:content'
import { slugify } from '../../utils/slugs'
import { dateToString } from '../../utils/dates'
import BaseLayout from '../../layouts/BaseLayout.astro'
import Twemoji from '../../components/general/Twemoji.vue'
import IconHeader from '../../components/general/IconHeader.astro'
import MarkdownContainer from '../../components/general/MarkdownContainer.astro'

export async function getStaticPaths() {
  return (await getCollection('posts')).map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout title={post.data.title}>
  <div class="max-w-3xl">
    <section class="mb-12 flex gap-8 max-md:flex-col max-md:gap-4 md:items-center">
      <div class="aspect-square h-20 w-fit" transition:name={post.slug + '-icon'}>
        <Twemoji emoji={post.data.icon} />
      </div>
      <div class="flex flex-col gap-2">
        <h1 class="text-5xl font-bold" transition:name={post.slug + '-title'}>{post.data.title}</h1>
        <div class="font-semibold text-gray-400" transition:name={post.slug + '-date'}>{dateToString(post.data.date)}</div>
      </div>
    </section>
    <MarkdownContainer>
      <Content components={{ h2: IconHeader }} />
    </MarkdownContainer>
    <section class="mt-12 flex flex-wrap gap-2">
      {
        post.data.tags.map(tag => (
          <a class="bg-gray-800 px-2 py-1 hover:bg-gray-700" href={`/tag/${slugify(tag)}/`}>
            {tag}
          </a>
        ))
      }
    </section>
  </div>
</BaseLayout>
